fastapi==0.115.6
pydantic==2.10.4
pydantic-settings==2.7.1
uvicorn==0.34.0
pygobject==3.50.0
pycairo==1.27.0
websockets==14.1
aiortc==1.9.0
asyncio==3.4.3
typing==3.7.4.3
typing-extensions==4.12.2
colorlog==6.9.0
starlette==0.41.3